body{
  margin: 0;
  padding: 0;
  width: 100%;
  
}

section{
  flex-basis: 30%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.sumeey-sumeey{
  width: 200px;
  border-radius: 100px;
  display: block;
   margin: 0 auto;
    filter: drop-shadow (5px 5px 10px #000000);
    
}

.header {
  background-image: url('sumeey/download2.jpg ');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}
.section {
  background-image: url('sumeey/apparel.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
}
.Aim {
  background-image: url('sumeey/download3.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}


.contact {
  background-image: url('sumeey/download2.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}

nav{
  background-color: navajowhite;
  margin: 0.1rem;
  padding: 0rem 4rem;
  font-size: 16px;
  display: flex; align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: black;
  
}
button {
  background-color: white;
  color: rebeccapurple;
  padding: 10px;
  border: none;
  font-size: 16px;
  justify-content: center;
}
.parent{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  position:fixed;
  background-color: purple;
}
.parent img{
  width:40px;
  border-radius: 50%;
  padding:5px;
}
.menu{
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu a{
  margin-left:10px;
  font-weight: 700;
  
}
.footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  background-color: purple;
}
.card{
  background-color: purple;
  padding: 20px;
  width: 70%;
  margin: 50px auto;
  border-radius: 10px;
  height: 80px;
  color: white;
  font-size: 20px;
}
