body{
  margin: 0;
  padding: 0;
  width: 100%;
  
}

section{
  flex-basis: 30%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.sumeey-sumeey{
  width: 200px;
  border-radius: 100px;
  display: block;
   margin: 0 auto;
    filter: drop-shadow (5px 5px 10px #000000);
    
}

.header {
  background-image: url('sumeey/download2.jpg ');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}
.section {
  background-image: url('sumeey/apparel.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
}
.aim {
  background-image: url('sumeey/download3.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}


.contact {
  background-image: url('sumeey/download3.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
  
}

nav{
  background-color: navajowhite;
  margin: 0.1rem;
  padding: 0rem 4rem;
  font-size: 16px;
  display: flex; align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: black;
  
}
botton {
  background-color: red;
  color: white;
  padding: 1.0rem ;
  border: none;
  font-size: 16px;
  justify-content: center;
}